h1 {
  color: #30583B;
}

span {
  font-size: 10px;

}

.hayaai {
  background-color: #c1e4e9;
  font-size: 30px;
}

.thankyou {
  color: #30583B;
  font-size: 20px;
}

.kajou {
  background-color: #eaf4fc;
}
